<h1>What sets our global remote community apart?</h1>
<p>Join the digital world and learn from anywhere you want with all the benefits
  of in-person education. Participate in a live virtual classroom, interact with
  your Instructor as well as other students, and join a global community of over
  5,000 alumni. If you like to learn in a fun and interactive manner - this is
  the right class for you. Besides the Instructor-led sessions taught by highly
  trained professionals, there will be friendly competitions with Kahoots,
  Bootcamp Jeopardy, Pictionary, Draw Swords, and more! Take time to dive deep
  into our Ironhack community. Get to know your live remote classmates and
  exchange experiences, projects, and much more with other like-minded people
  around the entire globe. Create relationships with your classmates who might
  even be your co-workers in the future!</p>